a{
  color: $green;
  @include transition(all,.3s,ease);
  &:hover{
    text-decoration: none;
    color: $opacityGreen;
  }
}

body{
  background-color: $bg;
  font-size: 16px;
  font-family: $font;
  color: $grey;
}

h1, h2, h3, h4, h5, h6{
  font-weight: $fontBold;
}
