/*-------------------------------------------------
>> Fonts
-------------------------------------------------*/

$font: 'Muli', sans-serif;

$fontExtraLight: 200;
$fontLight: 300;
$fontRegular: 400;
$fontSemiBold: 600;
$fontBold: 700;
$fontExtraBold: 800;
$fontBlack: 900;

/*-------------------------------------------------
>> Colors
-------------------------------------------------*/

$grey: #282828;
$green: #99dd79;
$secondGreen: #343933;
