.Header{
  background-color: $secondGreen;
  color: white;
  text-align: center;
  padding: 20px;

  &-menu{
    .sidebar-nav ul{
      margin: 20px 0 0;
      padding: 0;
    }
  }

}

/*-------------------------------------------------
>> Primary menu
-------------------------------------------------*/

.menu{
  .menu-item{
    display: block;

    a{
      display: block;
      color: white;
      font-weight: $fontExtraLight;
      letter-spacing: .5px
    }

  }
}

/*-------------------------------------------------
>> Media Queries
-------------------------------------------------*/

@media screen and (min-width: 768px){
  .Header{
    padding: 15px;
    &-logo{
      text-align: left;
    }
  }
  .menu{
    text-align: right;
    .menu-item{
      display: inline-block;
      a{
        padding: 0 15px 0 0;
      }
    }
  }
}
