.Header{
  background-color: $secondary;
  color: white;
  text-align: center;
  padding: 20px 0;

  &-menu{
    .sidebar-nav ul{
      margin: 20px 0 0;
      padding: 0;
    }
  }

}

/*-------------------------------------------------
>> Primary menu
-------------------------------------------------*/

.menu{
  .menu-item{
    display: block;

    a{
      display: block;
      color: rgba(255, 255, 255, 0.44);
      font-weight: $fontExtraLight;
      letter-spacing: .5px;
      @include transition(all,.3s,ease);

      &:hover{
        color: white;
      }
      &.active{
        color: white;
      }
    }

  }
}

/*-------------------------------------------------
>> Media Queries
-------------------------------------------------*/

@media screen and (min-width: 768px){
  .Header{
    padding: 10px 0;
    &-logo{
      text-align: left;
    }
  }
  .menu{
    text-align: right;
    .menu-item{
      display: inline-block;
      a{
        padding: 0 10px 15px;
        margin: 0 12px;
      }
    }
  }
}
